.page-header
  = link_to notebooks_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @notebook, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show

= render 'form', notebook: @notebook
