#banner
  .banner_content
    =image_tag 'UniNotas1.png'
    %strong All your notes in one place.
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
    %strong
      or
      = link_to 'Sign in', new_user_session_path
