#banner
  .banner_content
    %h1 UniNotas
    %strong Tus notas en un solo espacio.
    = link_to 'Registro', new_user_registration_path, class: 'btn btn-primary btn-lg'
    %strong
      o
      = link_to 'Iniciar sesión', new_user_session_path
