%footer.main-footer
  / Default to the left
  %strong
    Copyright © 2015
    = succeed '.' do
      =link_to 'Universidad Autónoma de Chihuahua', 'http://www.uach.mx', target: '_blank'
  Todos los derechos reservados.
