%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar Menu
    %ul.sidebar-menu
      %li.header MENU
      / Optionally, you can add icons to the links
      %li.treeview
        %a{href: '#'}
          %i.fa.fa-file-text
          %span Notes
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            =link_item "<i class='fa fa-circle-o'></i> New note".html_safe, new_note_path
          %li
            =link_item "<i class='fa fa-circle-o'></i> All notes".html_safe, notes_path
      - if policy(Notebook).new? or policy(Notebook).index? or policy(Notebook).show?
        %li.treeview
          %a{href: "#"}
            %i.fa.fa-book
            %span Notebooks
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              =link_item "<i class='fa fa-circle-o'></i> New notebook".html_safe, new_notebook_path
            %li
              =link_item "<i class='fa fa-circle-o'></i> All notebooks".html_safe, notebooks_path
            - policy_scope(Notebook).all.each do |notebook|
              %li
                =link_item "<i class='fa fa-circle-o'></i> #{notebook.name}".html_safe,
                notebook_path(notebook.id)
      - if policy(Role).new? or policy(Role).index?
        %li.treeview
          %a{href: '#'}
            %i.fa.fa-user-secret
            %span Roles
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              =link_item "<i class='fa fa-circle-o'></i> New role".html_safe, new_role_path
            %li
              =link_item "<i class='fa fa-circle-o'></i> All roles".html_safe, roles_path
      - if policy(Course).new? or policy(Course).index?
        %li.treeview
          %a{href: '#'}
            %i.fa.fa-graduation-cap
            %span Courses
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              =link_item "<i class='fa fa-circle-o'></i> New course".html_safe, new_course_path
            %li
              =link_item "<i class='fa fa-circle-o'></i> All courses".html_safe, courses_path
      - if policy(Task).new? or policy(Task).index?
        %li.treeview
          %a{href: '#'}
            %i.fa.fa-tasks
            %span Tasks
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              =link_item "<i class='fa fa-circle-o'></i> New task".html_safe, new_task_path
            %li
              =link_item "<i class='fa fa-circle-o'></i> All tasks".html_safe, tasks_path