!!! 5
%html.no-js
  = render 'head'

  %body
    - if user_signed_in?
      = render 'authenticated'
    - else
      = render 'welcome'
    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
